In [14]:
import sys
sys.path.insert(0, "Scripts")

from libraries import *
from fractal_dimension import *
import math

In [2]:
Chr = "chr_19.txt"
Str_Chr = load_txt_file("data/",Chr)

In [3]:
len(Str_Chr)

40938410

In [5]:
save_string_txt_name("data/","chr_19_",Str_Chr[0:1000000])

In [5]:
DICT_DIM = read_json_file_path("resultadosprueba","dimensions")

In [26]:
# Grabbing chromosome 19 data
nineteen = list(DICT_DIM['chr_19.txt'].values())
random = list(DICT_DIM['Random_chr'].values()); random.append(math.nan)
D = {'chr_19':nineteen,
     'random':random}

dim_df = pd.DataFrame.from_dict(D).apply(lambda x: round(x,2))

In [27]:
dim_df

   chr_19  random
0    1.56    1.61
1    1.90    1.96
2    1.99    2.00
3    2.00    2.00
4    2.00     NaN

In [32]:
print(dim_df.to_latex())

\begin{tabular}{lrr}
\toprule
{} &  chr\_19 &  random \\
\midrule
0 &    1.56 &    1.61 \\
1 &    1.90 &    1.96 \\
2 &    1.99 &    2.00 \\
3 &    2.00 &    2.00 \\
4 &    2.00 &     NaN \\
\bottomrule
\end{tabular}